##############################
## Folders                  ##
##############################
/china/
/chinaimage/
/hainan/
/hainanimage/
/node_modules/
##############################
## Netbeans conf                   ##
##############################
config.js
