##############################
## Folders                  ##
##############################
/china/
/chinaimage/
/hainan/
/hainanimage/
/node_modules/
##############################
## Netbeans conf                   ##
##############################
config.js
chinaimage.zip
flyData3.sql
china.zip
hainan.zip
hainanimage.zip