<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ECharts map Demo</title>
</head>

<body>
    <div id="map-wrap" style="height: 500px;">
        <!-- 这里以后是地图 -->
    </div>
</body>
<script type="text/javascript" src="../public/js/echarts.min.js"></script>
<script type="text/javascript" src="../public/js/jquery.min.js"></script>
<script src="../node_modules/echarts/extension/bmap/bmap1.js"></script>
<script type="text/javascript">
    var bmapChart = echarts.init(document.getElementById('map-wrap'));
    var option = {
        bmap: {
            center: [116.307698, 40.056975],
            zoom: 5,

            roam: true, // 允许缩放

            mapStyle: {  // 百度地图自定义样式
                styleJson: [
                    // 陆地
                    {
                        "featureType": "land",
                        "elementType": "all",
                        "stylers": {
                            "color": "#073763"
                        }
                    },
                    // 水系
                    {
                        "featureType": "water",
                        "elementType": "all",
                        "stylers": {
                            "color": "#073763",
                            "lightness": -54
                        }
                    },
                    // 国道与高速
                    {
                        "featureType": "highway",
                        "elementType": "all",
                        "stylers": {
                            "color": "#45818e"
                        }
                    },
                    // 边界线
                    {
                        "featureType": "boundary",
                        "elementType": "all",
                        "stylers": {
                            "color": "#ffffff",
                            "lightness": -62,
                            "visibility": "on"
                        }
                    },
                    // 行政标注
                    {
                        "featureType": "label",
                        "elementType": "labels.text.fill",
                        "stylers": {
                            "color": "#ffffff",
                            "visibility": "on"
                        }
                    },
                    {
                        "featureType": "label",
                        "elementType": "labels.text.stroke",
                        "stylers": {
                            "color": "#444444",
                            "visibility": "on"
                        }
                    }
                ]
            }
        },
    }
    bmapChart.setOption(option);
</script>


</html>